@import '../../sass/colors';
@import '../../sass/breakpoints';

.header {
    text-align: center;
    position: relative;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100vw;
        height: 250px;
        background-image: url('../../assets/pattern-bg.png');
        z-index: -1;
    }

    &__title {
        margin: 30px 0;
        color: #fff;
        font-weight: 500;
        font-size: 25px;

        @include laptop {
            font-size: 31px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 90px;
    }

    &__input {
        width: calc(90% - 50px);
        padding: 15px;
        font-size: 13px;
        background-color: #fff;
        border: none;
        border-radius: 15px 0 0 15px;
        outline: none;

        @include tablet {
            width: 60%;
            font-size: 18px;
            padding: 17px 20px;
        }

        @include laptop {
            width: 35%;
        }
    }

    &__button {
        background-color: #000;
        border: none;
        width: 50px;
        height: 45px;
        background-image: url('../../assets/icon-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 15px 15px 0;
        transition: background-color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: $very-dark-gray;
        }

        @include tablet {
            height: 56px;
        }
    }
}